{# templates/admin/partials/footer.html.twig #}
<footer class="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 text-center">
                <p class="text-muted m-b-0">
                    &copy; {{ "now"|date("Y") }} <strong>SchoolPrepar</strong>. Tous droits réservés. 
                    <span class="f-right">Développé par Romaric</span>
                </p>
            </div>
        </div>
    </div>
</footer>